body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0c1e38;
    color: white;
}

.container {
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
    color: #fff;
    filter: brightness(60%);
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.card ::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 8px;
}

.card h2,
.card p {
position: relative;
z-index: 3;
margin: 5px 0;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons{
    text-align: center;
}

.cta-btn {
    padding: 14px 30px;
    font-size: 18px;
    background-color: #f9a826;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #d88f1e;
}

/* .primary {
    background-color: #f9a826;
    color: black;
} */

.image-box {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card1 {
    background-image: url('images/Lorry1.jpeg');
}

.card2 {
    background-image: url('images/Lorry2.jpeg');
}

.card3 {
    background-image: url('images/Lorry3.jpeg');
}

.card4 {
    background-image: url('images/Lorry4.jpeg');
}


.text {
        filter: brightness(200%);

}